 #main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#stats {
    position: absolute;
    z-index: 999;
    padding: 1em;
    background-color: #fff;
    color: #000;
}